@import url("https://fonts.googleapis.com/css2?family=Buenard:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Dirt&display=swap");

:root {
  --font-one: "Buenard", serif;
  --font-two: "Montserrat", sans-serif;
  --font-three: "Rubik Dirt", system-ui;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  cursor: url("./images/cursor.png") 16 16, auto;
}

body {
  cursor: none;
}

.options div {
  height: 130px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1rem;
  font-family: var(--font-two);
  color: wheat;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.684);
  transition: all 0.2s ease-in-out;
}

.options div:hover {
  scale: 1.1;
}

.cat {
  perspective: 400px;
}

.page2 {
  overflow: hidden;
}

.page2 .first, .page2 .second, .page2 .third, .page2 .fourth {
  height: 13%;
  width: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
}

.page2 .first, .page2 .third {
    transform: translateX(20%);
}

.page2 .second, .page2 .fourth {
    transform: translateX(-20%);
}

.page2 .first div, .page2 .second div, .page2 .third div, .page2 .fourth div{
  flex-shrink: 0;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}