@import url('https://fonts.googleapis.com/css2?family=Buenard:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Dirt&display=swap');
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  cursor: url("./images/cursor.png") 16 16, auto;
}

body {
  cursor: none;
}


:root {
  --font-one: "Buenard", serif;
  --font-two: "Montserrat", sans-serif;;
  --font-three: "Rubik Dirt", system-ui;
}

@tailwind base;
@tailwind components;
@tailwind utilities;