@import url("https://fonts.googleapis.com/css2?family=Buenard:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik+Dirt&display=swap");

:root {
  --font-one: "Buenard", serif;
  --font-two: "Montserrat", sans-serif;
  --font-three: "Rubik Dirt", system-ui;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background: white;
  cursor: url("./images/cursor.png") 16 16, auto;
}

body {
  cursor: none;
}

.options div {
  height: 130px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1rem;
  font-family: var(--font-two);
  color: wheat;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.684);
  transition: all 0.2s ease-in-out;
}

.options div:hover {
  scale: 1.1;
}

.cat {
  perspective: 400px;
}

.page2 {
  overflow: hidden;
}

.page2 .first,
.page2 .second,
.page2 .third,
.page2 .fourth {
  height: 13%;
  width: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
}

.page2 .first,
.page2 .third {
  transform: translateX(20%);
}

.page2 .second,
.page2 .fourth {
  transform: translateX(-20%);
}

.page2 .first div,
.page2 .second div,
.page2 .third div,
.page2 .fourth div {
  flex-shrink: 0;
  border-radius: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 5px;
  border-radius: 20px;
}

.card {
  position: absolute;
  width: 315px;
  height: 315px;
  border-radius: 20px;
  overflow: hidden;
  border: 2px solid #000;
}

.page5 .gallery-grid {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  transition: all 2s ease-in-out;
}

.gallery-grid .images {
  height: 25%;
  width: 100%;
  border-radius: 20px;
  border: 2px solid black;
}

.gallery-grid .images img, .gallery-grid .images video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  padding: 5px;
}

.page6 .message {
  font-size: 2rem;
  font-weight: 500;
  color: black;
  font-family: var(--font-two);
  border-radius: 40px;
  text-align: center;
  margin-bottom: 0.5rem;
}

/* for page 7 */
.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.page-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: left center;
  top: 0;
  left: 0;
}

.page-side {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.page-border-left {
  border-left: 4px solid goldenrod;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.page-border-right {
  border-right: 4px solid goldenrod;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.page7 button {
  cursor: none;
}

.page7 button:active {
  transform: scale(0.9);
}